Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt-markdown, fmt-rust, fmt-cargo

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.16.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt-markdown
        name: lint-markdown
        description: Lint config files using Prettier
        entry: npx prettier --write --no-error-on-unmatched-pattern
        language: system
        types: [markdown]
      - id: fmt-rust
        name: fmt-rust
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt-cargo
        name: fmt-cargo
        description: Lint Cargo.toml files using cargo-sort
        entry: make fmt-cargo
        language: system
        types: [toml]
        pass_filenames: false

refactor(core): Stream and subjects implementation (#108)
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/nats/client.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/streams.rs
  crates/core/src/nats/streams/mod.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/streams/stream_blocks.rs
  crates/core/src/nats/streams/stream_transactions.rs
  crates/core/src/nats/streams/subject.rs
  crates/core/src/nats/subjects.rs
  crates/core/src/nats/types.rs
  crates/core/src/types.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): Temporary solution for nats storage size (#120)
  Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
Due: clippy, fmt-rust, fmt-cargo

feat(fuel-streams): Add Client (#114)
  .env.sample
  .pre-commit-config.yaml
  Cargo.lock
  Makefile
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client.rs
  crates/core/src/nats/client_opts.rs
  crates/core/src/nats/conn_id.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/nats_namespace.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/streams/stream_blocks.rs
  crates/core/src/nats/streams/stream_transactions.rs
  crates/core/src/nats/streams/subject.rs
  crates/core/src/nats/types.rs
  crates/fuel-streams-publisher/nats.conf
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/mod.rs
  crates/fuel-streams/src/client/types.rs
  crates/fuel-streams/src/lib.rs
  docker/docker-compose.yml
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

feat(core): Add first version of streams-core crate (#61)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .rustfmt.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/streams.rs
  crates/core/src/nats/subjects.rs
  crates/core/src/nats/types.rs
  crates/core/src/types.rs
  crates/fuel-core-nats/src/lib.rs
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

ci(repo): Fix release and pre-release process (#144)
  .github/workflows/release.yaml
  Cargo.toml
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams/Cargo.toml
  knope.toml
Due: clippy, fmt-rust, fmt-cargo

refactor(fuel-streams): Remove streams for sdk (#142)
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
Due: clippy, fmt-rust

feat(core): Refactor core and publisher to integrate coherently (#124)
  Cargo.lock
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust, fmt-cargo

ci(release): preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  crates/fuel-streams/Cargo.toml
  tests/Cargo.toml
Due: fmt-markdown, fmt-cargo

feat(publisher): Add NATS POC version (#12)
  .github/workflows/ci.yaml
  .typos.toml
  Cargo.toml
  crates/fuel-core-nats/Cargo.lock
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/README.md
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  rust-toolchain.toml
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

build(repo): Include NATS server config in docker-compose (#34)
  docker/docker-compose.yml
Due: none

build(repo): Allow starting & stopping nats server locally (#19)
  Makefile
  docker/.dockerignore
  docker/docker-compose.yml
  scripts/setup.sh
Due: none

build(repo): Automate running fuel-core-nats locally (#20)
  .env.sample
  Makefile
  scripts/start-fuel-core-nats.sh
Due: none

ci(repo): Improve/fix release action (#14)
  .changeset/.gitkeep
  .clippy.toml
  .commitlintrc.yaml
  .cz.toml
  .github/actions/setup-node/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  knope.toml
  rust-toolchain.toml
  scripts/bump-version.sh
  scripts/setup.sh
  src/main.rs
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

feat(publisher): Bootstrap the stream from Fuel nodes storage (#22)
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
Due: clippy, fmt-rust, fmt-cargo

docs(repo): Fix typo by renaming master to main (#18)
  CONTRIBUTING.md
Due: fmt-markdown

ci(repo): Adjust commitlint to enable dependabot (#30)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
Due: none

build(repo): Introduce Docker image for fuel-core-nats (#27)
  Makefile
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: none

feat(publisher): Add nkey as auth mechanism (#32)
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
Due: clippy, fmt-rust

build(repo): Add init container to statefulset (#51)
  docker/fuel-core-nats.Dockerfile
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
  helm/fuel-core-nats/values.yaml
Due: none

build(repo): Add missing chain config on Dockerimage (#65)
  .pre-commit-config.yaml
  docker/chain-config/chain_config.json
  docker/chain-config/metadata.json
  docker/chain-config/state_config.json
  docker/chain-config/state_transition_bytecode.wasm
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: none

build(repo): Remove any kind of nkey hardcoded (#46)
  .env.sample
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .gitignore
  Makefile
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/fuel-core-nats/src/nats.rs
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: clippy, fmt-rust

docs(repo): Include NATS_URL in env sample (#56)
  .env.sample
Due: none

ci(repo): Fix Dockerfile typo (#64)
  docker/fuel-core-nats.Dockerfile
Due: none

build(repo): Bump app version (#58)
  helm/fuel-core-nats/Chart.yaml
Due: none

build(core): Add missing default env var (#35)
  .env.sample
Due: none

build(repo): Bump chart version (#53)
  helm/fuel-core-nats/Chart.yaml
Due: none

build(repo): Init containers from helm release (#55)
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
Due: none

build(repo): Update working directory in dockerfile (#50)
  docker/fuel-core-nats.Dockerfile
Due: none

build(repo): Misplaced end in helm chart (#52)
  helm/fuel-core-nats/templates/statefulset.yaml
Due: none

build(repo): Add missing params to Dockerfile (#63)
  .github/workflows/docker_publish.yaml
  docker/fuel-core-nats.Dockerfile
Due: none

test(publisher): Simple connection test (#39)
  .env.sample
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Fix docker compose config (#59)
  docker/docker-compose.yml
Due: none

fix(publisher): Use u32 for block height to avoid hex outputs in block subjects (#66)
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/nats/subjects.rs
Due: clippy, fmt-rust

build(repo): Publish Docker image (#37)
  .github/actions/docker-publish/action.yaml
  .github/workflows/docker_publish.yaml
Due: none

ci(repo): Use GITHUB_TOKEN instead of REPO_TOKEN (#40)
  .github/workflows/helm_publish.yaml
Due: none

test(publisher): Add publishing tests (#48)
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/nats.rs
  crates/fuel-core-nats/src/nats/subjects.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Init containers volume mounts (#54)
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
Due: none

ci(repo): Fix and improvements in release actions (#41)
  .github/actions/docker-publish/action.yaml
  .github/workflows/docker_publish.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/release.yaml
  .gitignore
Due: none
