Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, prettier, fmt-rust, fmt-cargo

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
        stages: [pre-push]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

  - repo: https://github.com/crate-ci/typos
    rev: typos-v0.10.26
    hooks:
      - id: typos
        stages: [pre-push]

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
      - id: prettier
        name: prettier
        description: Format config files using Prettier
        entry: npx prettier --write --no-error-on-unmatched-pattern
        language: system
        types: [markdown, yaml]
        stages: [pre-push]
      - id: fmt-rust
        name: fmt-rust
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
      - id: fmt-cargo
        name: fmt-cargo
        description: Lint Cargo.toml files using cargo-sort
        entry: make fmt-cargo
        language: system
        types: [toml]
        pass_filenames: false
        stages: [pre-push]

feat(data-stream): add Client struct
  Cargo.lock
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/errors.rs
  crates/fuel-streams/src/client/mod.rs
  crates/fuel-streams/src/client/types.rs
  crates/fuel-streams/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

test(data-stream): add tests for Client
  tests/Cargo.toml
  tests/src/streams_builder.rs
  tests/tests/conn.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(repo): update Cargo.lock
  Cargo.lock
Due: none

refactor(core): remove unused errors
  crates/core/src/nats/errors.rs
Due: clippy, fmt-rust

refactor(core): adjust nats_client
  crates/core/src/nats/nats_client.rs
Due: clippy, fmt-rust

refactor(core): small improvements
  crates/core/src/nats/nats_client.rs
Due: clippy, fmt-rust

test(publisher): disable tests for now
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
Due: clippy, fmt-rust

refactor(repo): general improvements
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client_opts.rs
  crates/core/src/nats/conn_id.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/types.rs
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/errors.rs
  crates/fuel-streams/src/client/mod.rs
  crates/fuel-streams/src/client/types.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

fix(core): rust warnings
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/streams/stream.rs
Due: clippy, fmt-rust

fix: template for service
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

feat: bump chart version
  helm/fuel-streams-publisher/Chart.yaml
Due: none

fix(release): template for service (#115)
  helm/fuel-streams-publisher/Chart.yaml
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

fix: service template
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

fix(release): service template (#116)
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

feat(release): bump chart version
  helm/fuel-streams-publisher/Chart.yaml
Due: none

feat(release): bump chart version (#117)
  helm/fuel-streams-publisher/Chart.yaml
Due: none

refactor(repo): pr requests
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client_opts.rs
  crates/core/src/nats/conn_id.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/nats_namespace.rs
  crates/core/src/nats/streams/stream.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  tests/Cargo.toml
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(core): remove unused methods
  crates/core/src/nats/conn_streams.rs
Due: clippy, fmt-rust

feat(data-stream): add Client (#114)
  .env.sample
  .pre-commit-config.yaml
  Cargo.lock
  Makefile
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client.rs
  crates/core/src/nats/client_opts.rs
  crates/core/src/nats/conn_id.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/nats_namespace.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/streams/stream_blocks.rs
  crates/core/src/nats/streams/stream_transactions.rs
  crates/core/src/nats/streams/subject.rs
  crates/core/src/nats/types.rs
  crates/fuel-streams-publisher/nats.conf
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/mod.rs
  crates/fuel-streams/src/client/types.rs
  crates/fuel-streams/src/lib.rs
  docker/docker-compose.yml
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

ci(release): preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  tests/Cargo.toml
Due: fmt-cargo

refactor(core): change core package folder
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .github/workflows/update_deps.yaml
  .yamlfix.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/client_opts.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/Cargo.toml
  docker/docker-compose.yml
  docker/nats.conf
  src/main.rs
  tests/Cargo.toml
Due: clippy, fmt-rust, fmt-cargo

refactor(core): change core package folder (#118)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .github/workflows/update_deps.yaml
  .yamlfix.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/client_opts.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/Cargo.toml
  docker/docker-compose.yml
  docker/nats.conf
  src/main.rs
  tests/Cargo.toml
Due: clippy, fmt-rust, fmt-cargo

refactor: keep `fuel-streams` naming consistent
  Cargo.lock
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/types.rs
  tests/Cargo.toml
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(core): keep `fuel-streams` naming consistent (#119)
  Cargo.lock
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/types.rs
  tests/Cargo.toml
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

test(repo): add test project for publishing
  crates/test-jetstream/Cargo.lock
  crates/test-jetstream/Cargo.toml
  crates/test-jetstream/README.md
  crates/test-jetstream/benches/consumers.rs
  crates/test-jetstream/benches/kv_watch.rs
  crates/test-jetstream/src/lib.rs
  crates/test-jetstream/src/main.rs
  crates/test-jetstream/src/utils/blocks.rs
  crates/test-jetstream/src/utils/mod.rs
  crates/test-jetstream/src/utils/nats.rs
  crates/test-jetstream/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): temporary solution for nats storage size
  Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): repo warnings
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

fix(publisher): add default nats compression for streams
  crates/fuel-streams-publisher/src/nats.rs
Due: clippy, fmt-rust

fix(publisher): temporary solution for nats storage size (#120)
  Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
Due: clippy, fmt-rust, fmt-cargo

test(repo): improve benchmarks
  .gitignore
  Cargo.lock
  Cargo.toml
  benchs/bench-consumers/Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/README.md
  benchs/bench-consumers/benches/consumers.rs
  benchs/bench-consumers/src/lib.rs
  benchs/bench-consumers/src/main.rs
  benchs/bench-consumers/src/runners/benchmark_results.rs
  benchs/bench-consumers/src/runners/mod.rs
  benchs/bench-consumers/src/runners/runner_all.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/bench-consumers/src/utils/blocks.rs
  benchs/bench-consumers/src/utils/mod.rs
  benchs/bench-consumers/src/utils/nats.rs
  benchs/bench-consumers/src/utils/tx.rs
  crates/test-jetstream/README.md
  crates/test-jetstream/benches/consumers.rs
  crates/test-jetstream/benches/kv_watch.rs
  crates/test-jetstream/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): block compress for bincode
  .gitignore
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

fix(publisher): block compress for bincode (#122)
  .gitignore
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

refactor(core): combine StreamIdentifier + StreamSubjects into new `Streamable` trait
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
Due: clippy, fmt-rust

refactor(core): encapsulate Subject when publishing
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust

refactor(core): model streamable traits for `fuel-core` types directly for simplicity
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/blocks.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/streams/transactions.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/src/client/client_impl.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust

test(repo): improve benchmarks algorithms
  Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/benches/consumers.rs
  benchs/bench-consumers/src/lib.rs
  benchs/bench-consumers/src/main.rs
  benchs/bench-consumers/src/runners/benchmark_results.rs
  benchs/bench-consumers/src/runners/runner_all.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/nats-publisher/Cargo.toml
  benchs/nats-publisher/config/nats.conf
  benchs/nats-publisher/src/lib.rs
  benchs/nats-publisher/src/main.rs
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/mod.rs
  benchs/nats-publisher/src/utils/nats.rs
  benchs/nats-publisher/src/utils/payload.rs
  benchs/nats-publisher/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

fix: pre-commit warnings
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/payload.rs
  benchs/nats-publisher/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

test: add benchmarks
  Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/benches/consumers.rs
Due: clippy, fmt-rust, fmt-cargo

fix: clippy warnigs
  benchs/bench-consumers/Cargo.toml
Due: fmt-cargo

docs: add readme on how to run benchs
  benchs/bench-consumers/README.md
  benchs/nats-publisher/README.md
Due: none
