Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, prettier, fmt-rust, fmt-cargo

clippy:
  name: clippy
  description: Lint rust sources
  entry: make lint-clippy
  language: system
  pass_filenames: false
  stages:
  - pre-push

prettier:
  name: prettier
  description: Format config files using Prettier
  entry: npx prettier --write --no-error-on-unmatched-pattern
  language: system
  stages:
  - pre-push

fmt-rust:
  name: fmt-rust
  description: Format files with cargo fmt.
  entry: make fmt-rust
  language: system
  pass_filenames: false
  stages:
  - pre-push

fmt-cargo:
  name: fmt-cargo
  description: Lint Cargo.toml files using cargo-sort
  entry: make fmt-cargo
  language: system
  pass_filenames: false
  stages:
  - pre-push

docs: update README.md
  benchs/bench-consumers/README.md
Due: none

refactor(core): model `Streamable` trait for `fuel-core` types directly for simplicity (#121)
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/blocks.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/streams/transactions.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/src/client/client_impl.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust

feat(parser): initial commit for data-parser
  Cargo.lock
  crates/data-parser/Cargo.toml
  crates/data-parser/src/builder.rs
  crates/data-parser/src/error.rs
  crates/data-parser/src/lib.rs
  crates/data-parser/src/parser.rs
  crates/data-parser/src/types.rs
Due: clippy, fmt-rust, fmt-cargo

feat(data-parser): cleanup
  crates/data-parser/Cargo.toml
  crates/data-parser/src/error.rs
  crates/data-parser/src/parser.rs
  crates/data-parser/src/types.rs
Due: clippy, fmt-rust, fmt-cargo

feat(repo): added prost parser
  crates/data-parser/src/error.rs
  crates/data-parser/src/parser.rs
  crates/data-parser/src/types.rs
Due: clippy, fmt-rust

feat(repo): added criterion
  Cargo.lock
  Cargo.toml
  crates/data-parser/Cargo.toml
  crates/data-parser/benches/parser.rs
  crates/data-parser/src/builder.rs
  crates/data-parser/src/parser.rs
Due: clippy, fmt-rust, fmt-cargo

feat(data-parser): extended benchmarks
  Makefile
  crates/data-parser/Cargo.toml
  crates/data-parser/benches/parser.rs
  crates/data-parser/benches/serialize.rs
  crates/data-parser/benches/serialize_compress.rs
Due: clippy, fmt-rust, fmt-cargo

feat(data-parser): added blocks and txs types
  crates/data-parser/benches/serialize.rs
  crates/data-parser/benches/serialize_compress.rs
  crates/data-parser/src/lib.rs
Due: clippy, fmt-rust

feat(data-parser): fixed Cargo.toml and lock
  Cargo.lock
  crates/data-parser/Cargo.toml
Due: fmt-cargo

feat(data-parser): fixed criterion tests
  crates/data-parser/Cargo.toml
  crates/data-parser/benches/deserialize.rs
  crates/data-parser/benches/deserialize_decompress.rs
  crates/data-parser/benches/serialize.rs
  crates/data-parser/benches/serialize_compress.rs
  crates/data-parser/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

feat(repo): integrated data parser in publisher
  Cargo.lock
  Makefile
  crates/data-parser/src/parser.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
Due: clippy, fmt-rust, fmt-cargo

test(repo): add test project for publishing
  crates/test-jetstream/Cargo.lock
  crates/test-jetstream/Cargo.toml
  crates/test-jetstream/README.md
  crates/test-jetstream/benches/consumers.rs
  crates/test-jetstream/benches/kv_watch.rs
  crates/test-jetstream/src/lib.rs
  crates/test-jetstream/src/main.rs
  crates/test-jetstream/src/utils/blocks.rs
  crates/test-jetstream/src/utils/mod.rs
  crates/test-jetstream/src/utils/nats.rs
  crates/test-jetstream/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

test(repo): improve benchmarks
  .gitignore
  Cargo.lock
  Cargo.toml
  benchs/bench-consumers/Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/README.md
  benchs/bench-consumers/benches/consumers.rs
  benchs/bench-consumers/src/lib.rs
  benchs/bench-consumers/src/main.rs
  benchs/bench-consumers/src/runners/benchmark_results.rs
  benchs/bench-consumers/src/runners/mod.rs
  benchs/bench-consumers/src/runners/runner_all.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/bench-consumers/src/utils/blocks.rs
  benchs/bench-consumers/src/utils/mod.rs
  benchs/bench-consumers/src/utils/nats.rs
  benchs/bench-consumers/src/utils/tx.rs
  crates/test-jetstream/README.md
  crates/test-jetstream/benches/consumers.rs
  crates/test-jetstream/benches/kv_watch.rs
  crates/test-jetstream/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

test(repo): improve benchmarks algorithms
  Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/benches/consumers.rs
  benchs/bench-consumers/src/lib.rs
  benchs/bench-consumers/src/main.rs
  benchs/bench-consumers/src/runners/benchmark_results.rs
  benchs/bench-consumers/src/runners/runner_all.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/nats-publisher/Cargo.toml
  benchs/nats-publisher/config/nats.conf
  benchs/nats-publisher/src/lib.rs
  benchs/nats-publisher/src/main.rs
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/mod.rs
  benchs/nats-publisher/src/utils/nats.rs
  benchs/nats-publisher/src/utils/payload.rs
  benchs/nats-publisher/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

fix: pre-commit warnings
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/payload.rs
  benchs/nats-publisher/src/utils/tx.rs
Due: clippy, fmt-rust, fmt-cargo

test: add benchmarks
  Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/benches/consumers.rs
Due: clippy, fmt-rust, fmt-cargo

fix: clippy warnigs
  benchs/bench-consumers/Cargo.toml
Due: fmt-cargo

docs: add readme on how to run benchs
  benchs/bench-consumers/README.md
  benchs/nats-publisher/README.md
Due: none

feat(repo): integrated fuel-data-parser further in scope added benches
  Cargo.lock
  benchs/data-parser/Cargo.toml
  benchs/data-parser/README.md
  benchs/data-parser/benches/deserialize.rs
  benchs/data-parser/benches/deserialize_decompress.rs
  benchs/data-parser/benches/serialize.rs
  benchs/data-parser/benches/serialize_compress.rs
  benchs/data-parser/src/lib.rs
  crates/fuel-data-parser/Cargo.toml
  crates/fuel-data-parser/src/builder.rs
  crates/fuel-data-parser/src/error.rs
  crates/fuel-data-parser/src/lib.rs
  crates/fuel-data-parser/src/parser.rs
  crates/fuel-data-parser/src/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats/subjects.rs
Due: clippy, fmt-rust, fmt-cargo

feat(repo): exposed selected from fuel-data-parser
  benchs/data-parser/benches/deserialize.rs
  benchs/data-parser/benches/deserialize_decompress.rs
  benchs/data-parser/benches/serialize.rs
  benchs/data-parser/benches/serialize_compress.rs
  benchs/data-parser/src/lib.rs
  crates/fuel-data-parser/src/lib.rs
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

feat(core): adjustments for new imports
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

fix(core): typo warnings
  crates/fuel-streams-macros/subject-derive/src/fields.rs
  crates/fuel-streams-macros/subject-derive/src/lib.rs
Due: clippy, fmt-rust

feat(repo): improved parser unit tests and annotations
  Makefile
  crates/fuel-data-parser/src/parser.rs
Due: clippy, fmt-rust

feat(core): added tx status in publisher
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

feat(data-parser): fixed readme
  benchs/data-parser/README.md
Due: none

feat(repo): integrated data-parser into benchmarks
  Cargo.lock
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/benches/consumers.rs
  benchs/bench-consumers/src/runners/runner_all.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/nats-publisher/Cargo.toml
  benchs/nats-publisher/src/main.rs
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/mod.rs
  benchs/nats-publisher/src/utils/nats.rs
  benchs/nats-publisher/src/utils/payload.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-data-parser/src/lib.rs
  crates/fuel-data-parser/src/parser.rs
  crates/fuel-data-parser/src/types.rs
Due: clippy, fmt-rust, fmt-cargo

test: fix store tests filename
  tests/tests/store.rs
Due: clippy, fmt-rust

refactor(benches): some improvments to the bench runners
  .github/workflows/ci.yaml
  benchs/bench-consumers/src/runners/benchmark_results.rs
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
Due: clippy, fmt-rust

fix(benches): renamed Cargo.toml description
  benchs/bench-consumers/Cargo.toml
Due: fmt-cargo

fix(data-parser): clean up of Cargo.toml
  Cargo.lock
  benchs/data-parser/Cargo.toml
Due: fmt-cargo

refactor(data-parser): cleanup unused deps
  Cargo.lock
  benchs/data-parser/Cargo.toml
Due: fmt-cargo

feat(data-parser): added publish to Cargo.toml file
  crates/fuel-data-parser/Cargo.toml
Due: fmt-cargo

feat(repo): dependencies cleanup
  Cargo.lock
  Cargo.toml
  benchs/nats-publisher/Cargo.toml
  crates/fuel-data-parser/Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-publisher/Cargo.toml
Due: fmt-cargo

feat(data-parser): added entropy to data
  Cargo.lock
  benchs/data-parser/Cargo.toml
  benchs/data-parser/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): added admin profile to publisher
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(repo): bumped crates versions, added script
  Cargo.lock
  Cargo.toml
  scripts/start-nats-test-publisher.sh
Due: fmt-cargo

fix(publisher): use conn stores instead of arbitrary stores
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

Path conditions:
  clippy: any of: \.rs$
  prettier: any of: \.(md|markdown|mdown)$ and \.(yaml|yml)$
  fmt-rust: any of: \.rs$
  fmt-cargo: any of: \.toml$
