Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt-markdown, fmt-rust, fmt-cargo

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.16.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  - repo: https://github.com/crate-ci/typos
    rev: v1.21.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt-markdown
        name: lint-markdown
        description: Lint config files using Prettier
        entry: npx prettier --write --no-error-on-unmatched-pattern
        language: system
        types: [markdown]
      - id: fmt-rust
        name: fmt-rust
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
        pass_filenames: false
      - id: fmt-cargo
        name: fmt-cargo
        description: Lint Cargo.toml files using cargo-sort
        entry: make fmt-cargo
        language: system
        types: [toml]
        pass_filenames: false

build(repo): Service template (#116)
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

refactor(core): Change core package folder (#118)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .github/workflows/update_deps.yaml
  .yamlfix.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/client_opts.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/Cargo.toml
  docker/docker-compose.yml
  docker/nats.conf
  src/main.rs
  tests/Cargo.toml
Due: clippy, fmt-rust, fmt-cargo

refactor(core): Refactor core and publisher to integrate coherently (#124)
  Cargo.lock
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Remove any kind of nkey hardcoded (#46)
  .env.sample
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .gitignore
  Makefile
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/fuel-core-nats/src/nats.rs
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: clippy, fmt-rust

build(repo): Introduce Docker image for fuel-core-nats (#27)
  Makefile
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: none

build(repo): Publish Docker image (#37)
  .github/actions/docker-publish/action.yaml
  .github/workflows/docker_publish.yaml
Due: none

build(repo): Update working directory in dockerfile (#50)
  docker/fuel-core-nats.Dockerfile
Due: none

ci(release): preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  crates/fuel-streams/Cargo.toml
  tests/Cargo.toml
Due: fmt-markdown, fmt-cargo

ci(repo): Fix release action
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  knope.toml
Due: fmt-cargo

ci(release): Preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  crates/fuel-streams/Cargo.toml
  tests/Cargo.toml
Due: fmt-markdown, fmt-cargo

ci(repo): Fix commitlint config
  .commitlintrc.yaml
Due: none

feat(repo): added basic coverage skeleton
  .github/workflows/coverage.yaml
  Makefile
  crates/fuel-streams-publisher/src/main.rs
  scripts/setup.sh
Due: clippy, fmt-rust

feat(repo): updated coverage scope and makefile
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  cov-reports/.gitkeep
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  tarpaulin.toml
Due: clippy, fmt-rust, fmt-cargo

refactor(repo): ensure workspace tests run
  Makefile
Due: none

feat(fuel-streams-publisher): publish blocks with correct block producer
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/transactions.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust

refactor(core): assign unique `conn_id` to nats connection rather than `namespace`
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
Due: clippy, fmt-rust

refactor(fuel-streams-publisher): move e2e tests to `/tests` directory
  Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/tests/lib.rs
  tests/tests/publisher.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(publisher): rename start script appropraitely
  Makefile
  scripts/start-publisher.sh
Due: none

docs(publisher): add some documentation for publisher
  crates/fuel-streams-publisher/README.md
  crates/fuel-streams-publisher/src/main.rs
Due: clippy, fmt-markdown, fmt-rust

ci(repo): added nats to coverage workflow
  .github/workflows/ci.yaml
  .github/workflows/coverage.yaml
  Makefile
  crates/fuel-streams-publisher/src/main.rs
  tarpaulin.toml
Due: clippy, fmt-rust, fmt-cargo

ci(release): removed unused steps from ci
  .github/workflows/ci.yaml
Due: none

ci(repo): improve release process
  .cargo/config.toml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/nightly-cargo-audit.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .pre-commit-config.yaml
  .typos.toml
  Cross.toml
  Makefile
  rust-toolchain.toml
  scripts/cross/aarch64-unknown-linux-gnu.sh
  scripts/cross/linux-gnu.sh
  scripts/cross/linux-musl.sh
  scripts/setup.sh
  scripts/strip-binary.sh
Due: fmt-cargo

build(repo): adjust workspace versions
  Cargo.lock
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  tests/Cargo.toml
Due: fmt-cargo

ci(repo): fix setup rust action
  .github/actions/setup-rust/action.yaml
Due: none

ci(repo): fix publish crates check
  .github/workflows/ci.yaml
Due: none

ci(repo): adjust setup-rust
  .github/actions/setup-rust/action.yaml
Due: none

ci(repo): fix data-parser version
  benchs/data-parser/Cargo.toml
Due: fmt-cargo

ci(repo): adjust setup rust
  .github/actions/setup-rust/action.yaml
Due: none

ci(repo): publish crates fix
  .github/workflows/ci.yaml
Due: none

build(repo): fix workspace members
  Cargo.toml
Due: fmt-cargo

docs(publisher): Add basic documentation for fuel streams publisher (#154)
  Makefile
  crates/fuel-streams-publisher/README.md
  crates/fuel-streams-publisher/src/main.rs
  scripts/start-publisher.sh
Due: clippy, fmt-markdown, fmt-rust

ci(repo): merge test and coverage steps
  .github/workflows/ci.yaml
Due: none

ci(repo): small improvements
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(repo): just run coverage when push on main
  .github/workflows/ci.yaml
Due: none

ci(repo): fix setup-rust action
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(repo): Integrated test coverage framework (#150)
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .gitignore
  Makefile
  cov-reports/.gitkeep
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  scripts/setup.sh
  tarpaulin.toml
Due: clippy, fmt-rust, fmt-cargo

ci(repo): fix cy.yaml
  .github/workflows/ci.yaml
Due: none

ci(repo): fix ci.yaml 2
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none

ci(repo): fix publish configuration
  .github/workflows/ci.yaml
  benchs/bench-consumers/Cargo.toml
  benchs/data-parser/Cargo.toml
  crates/fuel-data-parser/Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
Due: fmt-cargo

ci(repo): fix cargo-machete warnings
  .github/workflows/ci.yaml
  Cargo.lock
  Cargo.toml
  benchs/bench-consumers/Cargo.toml
  benchs/bench-consumers/src/runners/runner_consumer.rs
  benchs/bench-consumers/src/runners/runner_kv_watcher.rs
  benchs/bench-consumers/src/runners/runner_subscription.rs
  benchs/data-parser/Cargo.toml
  benchs/nats-publisher/Cargo.toml
  crates/fuel-data-parser/Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/stream/stream_impl.rs
  tests/Cargo.toml
  tests/tests/client.rs
Due: clippy, fmt-rust, fmt-cargo
