Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, fmt-markdown, fmt-rust, fmt-cargo

clippy:
  name: clippy
  description: Lint rust sources
  entry: make lint-clippy
  language: system
  pass_filenames: false

fmt-markdown:
  name: lint-markdown
  description: Lint config files using Prettier
  entry: npx prettier --write --no-error-on-unmatched-pattern
  language: system

fmt-rust:
  name: fmt-rust
  description: Format files with cargo fmt.
  entry: make fmt-rust
  language: system
  pass_filenames: false

fmt-cargo:
  name: fmt-cargo
  description: Lint Cargo.toml files using cargo-sort
  entry: make fmt-cargo
  language: system
  pass_filenames: false

ci(repo): Add jobs for publishing fuel-core-nats crate and binaries (#31)
  .github/actions/docker-publish/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  rust-toolchain.toml
Due: fmt-cargo

build(repo): Minor updates on tooling (#60)
  .github/workflows/ci.yaml
  .github/workflows/docker_publish.yaml
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  .rustfmt.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/fuel-core-nats/src/nats.rs
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/service.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
  helm/fuel-core-nats/values.yaml
Due: clippy, fmt-rust, fmt-cargo

build(repo): Add helm chart (#38)
  .github/workflows/helm_publish.yaml
  helm/fuel-core-nats/.helmignore
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/NOTES.txt
  helm/fuel-core-nats/templates/_helpers.tpl
  helm/fuel-core-nats/templates/deployment.yaml
  helm/fuel-core-nats/templates/hpa.yaml
  helm/fuel-core-nats/templates/ingress.yaml
  helm/fuel-core-nats/templates/service.yaml
  helm/fuel-core-nats/templates/serviceaccount.yaml
  helm/fuel-core-nats/templates/tests/test-connection.yaml
  helm/fuel-core-nats/values.yaml
Due: none

build(repo): Disable pod health checks (#57)
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/values.yaml
Due: none

build(repo): Add helmchart statefulset (#47)
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
Due: none

refactor(core): Model Streamable trait for fuel-core types directly for simplicity (#121)
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/blocks.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/streams/transactions.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/src/client/client_impl.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust

refactor(repo): Keep fuel-streams naming consistent (#119)
  Cargo.lock
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/types.rs
  tests/Cargo.toml
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Bump chart version (#117)
  helm/fuel-streams-publisher/Chart.yaml
Due: none

feat(fuel-streams): Add Client (#114)
  .env.sample
  .pre-commit-config.yaml
  Cargo.lock
  Makefile
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client.rs
  crates/core/src/nats/client_opts.rs
  crates/core/src/nats/conn_id.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_client.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/nats_namespace.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/streams/stream_blocks.rs
  crates/core/src/nats/streams/stream_transactions.rs
  crates/core/src/nats/streams/subject.rs
  crates/core/src/nats/types.rs
  crates/fuel-streams-publisher/nats.conf
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/client/mod.rs
  crates/fuel-streams/src/client/types.rs
  crates/fuel-streams/src/lib.rs
  docker/docker-compose.yml
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/client.rs
  tests/tests/conn.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

fix(publisher): Temporary solution for nats storage size (#120)
  Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/nats.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Add nightly version to setup and Makefile (#106)
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  Makefile
  scripts/setup.sh
Due: none

build(repo): Template for service (#115)
  helm/fuel-streams-publisher/Chart.yaml
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

fix(publisher): Block compress for bincode (#122)
  .gitignore
  crates/fuel-streams-publisher/src/lib.rs
Due: clippy, fmt-rust

fix(publisher): Publish compact json rather than pretty json (#105)
  crates/fuel-core-nats/src/lib.rs
Due: clippy, fmt-rust

refactor(core): Change core package folder (#118)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .github/workflows/update_deps.yaml
  .yamlfix.toml
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/client_opts.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_conn.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/streams/mod.rs
  crates/fuel-streams-core/src/nats/streams/stream.rs
  crates/fuel-streams-core/src/nats/streams/stream_blocks.rs
  crates/fuel-streams-core/src/nats/streams/stream_transactions.rs
  crates/fuel-streams-core/src/nats/streams/subject.rs
  crates/fuel-streams-core/src/nats/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams/Cargo.toml
  docker/docker-compose.yml
  docker/nats.conf
  src/main.rs
  tests/Cargo.toml
Due: clippy, fmt-rust, fmt-cargo

build(repo): Add cargo-audit to CI/CD and project (#104)
  .github/workflows/nightly-cargo-audit.yaml
  .github/workflows/update_deps.yaml
  Cargo.lock
  Makefile
  scripts/setup.sh
Due: none

refactor(core): Refactor core and publisher to integrate coherently (#124)
  Cargo.lock
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Service template (#116)
  helm/fuel-streams-publisher/templates/service.yaml
Due: none

refactor(core): Stream and subjects implementation (#108)
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/nats/client.rs
  crates/core/src/nats/conn_streams.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/nats_conn.rs
  crates/core/src/nats/streams.rs
  crates/core/src/nats/streams/mod.rs
  crates/core/src/nats/streams/stream.rs
  crates/core/src/nats/streams/stream_blocks.rs
  crates/core/src/nats/streams/stream_transactions.rs
  crates/core/src/nats/streams/subject.rs
  crates/core/src/nats/subjects.rs
  crates/core/src/nats/types.rs
  crates/core/src/types.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/streams_builder.rs
  tests/tests/lib.rs
  tests/tests/streams.rs
Due: clippy, fmt-rust, fmt-cargo

feat(publisher): Add nats publishing deduplication logic and tests (#107)
  crates/core/src/nats/client.rs
  crates/core/src/nats/streams.rs
  crates/fuel-core-nats/src/nats.rs
Due: clippy, fmt-rust

refactor(publisher): Rename fuel-core-nats to fuel-streams-publisher (#102)
  .github/CODEOWNERS
  .github/workflows/docker_publish.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/release.yaml
  Cargo.lock
  Makefile
  crates/fuel-streams-publisher/Cargo.lock
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/README.md
  crates/fuel-streams-publisher/nats.conf
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/nats/subjects.rs
  docker/docker-compose.yml
  docker/fuel-streams-publisher.Dockerfile
  helm/fuel-core-nats/templates/service.yaml
  helm/fuel-core-nats/templates/tests/test-connection.yaml
  helm/fuel-streams-publisher/.helmignore
  helm/fuel-streams-publisher/Chart.yaml
  helm/fuel-streams-publisher/templates/NOTES.txt
  helm/fuel-streams-publisher/templates/_helpers.tpl
  helm/fuel-streams-publisher/templates/hpa.yaml
  helm/fuel-streams-publisher/templates/ingress.yaml
  helm/fuel-streams-publisher/templates/service.yaml
  helm/fuel-streams-publisher/templates/serviceaccount.yaml
  helm/fuel-streams-publisher/templates/statefulset.yaml
  helm/fuel-streams-publisher/templates/tests/test-connection.yaml
  helm/fuel-streams-publisher/values.yaml
  knope.toml
  scripts/start-fuel-core-nats.sh
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

feat(core): Add first version of streams-core crate (#61)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
  .rustfmt.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/nats/client.rs
  crates/core/src/nats/errors.rs
  crates/core/src/nats/mod.rs
  crates/core/src/nats/streams.rs
  crates/core/src/nats/subjects.rs
  crates/core/src/nats/types.rs
  crates/core/src/types.rs
  crates/fuel-core-nats/src/lib.rs
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

refactor(fuel-streams): Remove streams for sdk (#142)
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
Due: clippy, fmt-rust

ci(repo): Fix release and pre-release process (#144)
  .github/workflows/release.yaml
  Cargo.toml
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams/Cargo.toml
  knope.toml
Due: clippy, fmt-rust, fmt-cargo

build(repo): Initial project commit
  LICENSE
Due: none

feat(publisher): Bootstrap the stream from Fuel nodes storage (#22)
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
Due: clippy, fmt-rust, fmt-cargo

build(repo): Init containers volume mounts (#54)
  helm/fuel-core-nats/Chart.yaml
  helm/fuel-core-nats/templates/statefulset.yaml
Due: none

ci(repo): Adjust commitlint to enable dependabot (#30)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
Due: none

build(repo): Allow starting & stopping nats server locally (#19)
  Makefile
  docker/.dockerignore
  docker/docker-compose.yml
  scripts/setup.sh
Due: none

build(repo): Basic project structure and tooling (#4)
  .cz.toml
  .dockerignore
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .typos.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  clippy.toml
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  rust-toolchain.toml
  scripts/setup.sh
Due: clippy, fmt-markdown, fmt-rust, fmt-cargo

ci(repo): Fix and improvements in release actions (#41)
  .github/actions/docker-publish/action.yaml
  .github/workflows/docker_publish.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/release.yaml
  .gitignore
Due: none

docs(repo): Fix typo by renaming master to main (#18)
  CONTRIBUTING.md
Due: fmt-markdown

build(repo): Include NATS server config in docker-compose (#34)
  docker/docker-compose.yml
Due: none

fix(publisher): Use u32 for block height to avoid hex outputs in block subjects (#66)
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/nats/subjects.rs
Due: clippy, fmt-rust

Path conditions:
  clippy: any of: \.rs$
  fmt-markdown: any of: \.(md|markdown|mdown)$
  fmt-rust: any of: \.rs$
  fmt-cargo: any of: \.toml$
