Repository FuelLabs/data-systems: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, prettier, fmt-rust, fmt-cargo

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, pre-push, commit-msg]
default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key
        stages: [pre-push]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.16.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-conventional"]

  - repo: https://github.com/crate-ci/typos
    rev: typos-v0.10.26
    hooks:
      - id: typos
        stages: [pre-push]

  - repo: local
    hooks:
      - id: clippy
        name: clippy
        description: Lint rust sources
        entry: make lint-clippy
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
      - id: prettier
        name: prettier
        description: Format config files using Prettier
        entry: npx prettier --write --no-error-on-unmatched-pattern
        language: system
        types: [markdown, yaml]
        stages: [pre-push]
      - id: fmt-rust
        name: fmt-rust
        description: Format files with cargo fmt.
        entry: make fmt-rust
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
      - id: fmt-cargo
        name: fmt-cargo
        description: Lint Cargo.toml files using cargo-sort
        entry: make fmt-cargo
        language: system
        types: [toml]
        pass_filenames: false
        stages: [pre-push]

fix(repo): clippy warnings
  tests/src/lib.rs
Due: clippy, fmt-rust

refactor: small adjustments
  Cargo.lock
  crates/fuel-data-parser/Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/nats/client_opts.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/transactions/mod.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(core): remove unescessary trait bound
  crates/fuel-streams-core/src/nats/stream.rs
Due: clippy, fmt-rust

test: fix connection on tests
  crates/fuel-streams-core/src/nats/stream.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust

feat: refactor core and publisher to integrate coherently
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/src/client/client_impl.rs
  tests/tests/client.rs
Due: clippy, fmt-rust, fmt-cargo

refactor: centralize data parsing in Streamable
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/src/stream.rs
Due: clippy, fmt-rust

refactor: restrict bincode crate to data-parser crate
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-publisher/Cargo.toml
Due: fmt-cargo

refactor: fix previous tests
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams/src/client/client_impl.rs
  tests/tests/client.rs
Due: clippy, fmt-rust

refactor: include minimal publishing tests
  Cargo.lock
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
Due: clippy, fmt-rust, fmt-cargo

refactor: remove old comments
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
Due: clippy, fmt-rust

refactor: resolve conflicts
  Cargo.lock
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/errors.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust, fmt-cargo

feat(core): refactor core and publisher to integrate coherently (#124)
  Cargo.lock
  benchs/nats-publisher/src/utils/blocks.rs
  benchs/nats-publisher/src/utils/tx.rs
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-core/src/blocks/mod.rs
  crates/fuel-streams-core/src/blocks/subjects.rs
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/nats/conn_id.rs
  crates/fuel-streams-core/src/nats/conn_streams.rs
  crates/fuel-streams-core/src/nats/mod.rs
  crates/fuel-streams-core/src/nats/nats_client.rs
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-core/src/nats/nats_namespace.rs
  crates/fuel-streams-core/src/nats/stream.rs
  crates/fuel-streams-core/src/stream.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/transactions/mod.rs
  crates/fuel-streams-core/src/transactions/subjects.rs
  crates/fuel-streams-core/src/transactions/types.rs
  crates/fuel-streams-core/src/types.rs
  crates/fuel-streams-macros/src/lib.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/lib.rs
  crates/fuel-streams-publisher/src/main.rs
  crates/fuel-streams-publisher/src/nats.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/Cargo.toml
  crates/fuel-streams/src/client/client_impl.rs
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/client.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust, fmt-cargo

refactor(fuel-streams): removing streams for sdk
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
Due: clippy, fmt-rust

refactor(core): use streamer instead of stream
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/stream/mod.rs
  crates/fuel-streams-core/src/stream/streamer.rs
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
Due: clippy, fmt-rust

ci: fix release and pre-release process
  .github/workflows/release.yaml
  Cargo.toml
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams/Cargo.toml
  knope.toml
Due: fmt-cargo

ci: adjust release action
  .github/workflows/release.yaml
Due: none

fix: ci checking
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-publisher/Cargo.toml
Due: clippy, fmt-rust, fmt-cargo

feat(repo): added basic coverage skeleton
  .github/workflows/coverage.yaml
  Makefile
  crates/fuel-streams-publisher/src/main.rs
  scripts/setup.sh
Due: clippy, fmt-rust

refactor(fuel-streams): removing streams for sdk (#142)
  crates/fuel-streams/src/lib.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
Due: clippy, fmt-rust

feat(repo): updated coverage scope, Makefile
  .github/workflows/coverage.yaml
  .gitignore
  Makefile
  cov-reports/.gitkeep
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  tarpaulin.toml
Due: clippy, fmt-rust, fmt-cargo

ci(repo): fix release and pre-release process (#144)
  .github/workflows/release.yaml
  Cargo.toml
  crates/fuel-streams-core/src/nats/nats_client_opts.rs
  crates/fuel-streams-publisher/Cargo.toml
  crates/fuel-streams/Cargo.toml
  knope.toml
Due: clippy, fmt-rust, fmt-cargo

ci(release): preparing 0.0.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/fuel-streams-core/Cargo.toml
  crates/fuel-streams-macros/Cargo.toml
  crates/fuel-streams-macros/subject-derive/Cargo.toml
  crates/fuel-streams/Cargo.toml
  tests/Cargo.toml
Due: fmt-cargo

refactor: ensure Stream nomenclature is consistent
  crates/fuel-streams-core/src/lib.rs
  crates/fuel-streams-core/src/stream/error.rs
  crates/fuel-streams-core/src/stream/mod.rs
  crates/fuel-streams-core/src/stream/stream.rs
  crates/fuel-streams-publisher/src/blocks.rs
  crates/fuel-streams-publisher/src/publisher.rs
  crates/fuel-streams-publisher/src/transactions.rs
  crates/fuel-streams/src/stream/error.rs
  crates/fuel-streams/src/stream/stream_impl.rs
  crates/fuel-streams/src/streams.rs
  tests/src/lib.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust

refactor: fix clippy
  crates/fuel-streams-core/src/stream/mod.rs
Due: clippy, fmt-rust

refactor(fuel-streams): rename `internal_stream` to `streamer`
  crates/fuel-streams/src/stream/stream_impl.rs
  tests/tests/stream.rs
Due: clippy, fmt-rust

refactor(core): rename `stream` to `stream_impl` for consistency
  crates/fuel-streams-core/src/stream/mod.rs
  crates/fuel-streams-core/src/stream/stream_impl.rs
Due: clippy, fmt-rust

build(repo): Initial commit
  LICENSE
Due: none

build(repo): Basic project structure and tooling (#4)
  .cz.toml
  .dockerignore
  .editorconfig
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .typos.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  README.md
  clippy.toml
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  rust-toolchain.toml
  scripts/setup.sh
Due: clippy, fmt-rust, fmt-cargo

ci(repo): Lock versions on minor instead of patch (#11)
  Cargo.toml
  crates/nats-stream/Cargo.toml
Due: fmt-cargo

feat(publisher): Add fuel-core-nats v2 (#12)
  .github/workflows/ci.yaml
  .typos.toml
  Cargo.toml
  crates/fuel-core-nats/Cargo.lock
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/README.md
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  crates/nats-stream/.gitignore
  crates/nats-stream/Cargo.lock
  crates/nats-stream/Cargo.toml
  crates/nats-stream/README.md
  crates/nats-stream/src/main.rs
  rust-toolchain.toml
Due: clippy, fmt-rust, fmt-cargo

ci(repo): Improve/fix release action (#14)
  .changeset/.gitkeep
  .clippy.toml
  .commitlintrc.yaml
  .cz.toml
  .github/actions/setup-node/action.yaml
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/prepare_release.yaml
  .github/workflows/release.yaml
  .github/workflows/update_deps.yaml
  .gitignore
  .pre-commit-config.yaml
  .rustfmt.toml
  .yamlfix.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
  knope.toml
  rust-toolchain.toml
  scripts/bump-version.sh
  scripts/setup.sh
  src/main.rs
Due: clippy, fmt-rust, fmt-cargo

docs(repo): Fix typo by renaming master to main (#18)
  CONTRIBUTING.md
Due: none

build(repo): Allow starting & stopping nats server locally (#19)
  Makefile
  docker/.dockerignore
  docker/docker-compose.yml
  scripts/setup.sh
Due: none

feat(publisher): Bootstrap the stream from Fuel nodes storage (#22)
  Cargo.lock
  Cargo.toml
  crates/fuel-core-nats/Cargo.toml
  crates/fuel-core-nats/nats.conf
  crates/fuel-core-nats/src/lib.rs
  crates/fuel-core-nats/src/main.rs
Due: clippy, fmt-rust, fmt-cargo

ci(repo): Adjust commitlint to enable dependabot (#30)
  .commitlintrc.yaml
  .github/workflows/ci.yaml
Due: none

build(repo): Automate running fuel-core-nats locally (#20)
  .env.sample
  Makefile
  scripts/start-fuel-core-nats.sh
Due: none

build(repo): Introduce Docker image for fuel-core-nats (#27)
  Makefile
  docker/docker-compose.yml
  docker/fuel-core-nats.Dockerfile
Due: none
